<configuration scan="false">
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <fieldNames>
          <levelValue>[ignore]</levelValue>
        </fieldNames>
        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
          <maxDepthPerThrowable>100</maxDepthPerThrowable>
        </throwableConverter>
      </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>
          %d{HH:mm:ss.SSS} [%thread]%highlight(%5p) %-36.36logger{36} : %msg%n
        </pattern>
      </encoder>
    </appender>

    <appender name="FILE_JSON" class="ch.qos.logback.core.FileAppender">
      <file>target/service.log</file>
      <append>false</append>
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <fieldNames>
          <levelValue>[ignore]</levelValue>
        </fieldNames>
        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
          <maxDepthPerThrowable>100</maxDepthPerThrowable>
        </throwableConverter>
      </encoder>
    </appender>

  <logger name="info.mastera" level="INFO"/>
  <logger name="org.springframework.data.convert.CustomConversions" level="ERROR"/>

  <springProfile name="!staging &amp; !prod">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE_JSON"/>
    </root>
  </springProfile>
  <springProfile name="staging | prod">
    <root level="WARN">
      <appender-ref ref="CONSOLE_JSON"/>
    </root>
  </springProfile>

</configuration>
